*.cmd
*.ts
*.js
*.otf
*.eot
*.svg
*.ttf
*.woff
*.woff2
*.css
*.png
*.ico
*.html
*.sh
*.json
*.md
*.map
*.jst
*.def
*.yml
*.npmignore
*.tern-port
*.gitkeep
*.txt
*.patch
*.in
*.eslintrc
*.opts
*.gitmodules
*.conf
*.targ
*.bak
*.jshintrc
*.lock
*.p12
*.pem
*.el
*.coffee
*.editorconfig
*.es6
*.xml
*.markdown
*.swf
*.2512357107
*.tm_properties
*.eslintignore
*.bnf
*.1
